@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import './article.scss';
@import './aboutMe.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style-type: none;


}

li,
.logo {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #090909;
}

h3 {
    font-weight: 800;
    font-size: 1.1rem;
}

.blogDnone {
    display: none !important;

}



p,
time {
    color: #151515 !important;
}

.m-bottom {
    margin-bottom: 3.1875em !important;
}


.m-bottom-2 {
    margin-bottom: 2.8125em;
}



header {

    display: flex;
    justify-content: space-between;
    padding: 17px 20px 18.84px 24px;
    background: #fff;
    box-shadow: -1px -13px 17px 4px rgb(31 26 26);
    height: 59px;

    .logo,
    nav {
        align-self: center;
    }

    .logo {
        display: flex;
        align-items: center;



        img {
            margin-right: 0.193125em;
            width: 23.16px;
            height: 23.16px;
            transition: all .4s;

            &:hover {
                transform: rotate(360deg);

            }

        }

        h1 {
            font-weight: 700;
            font-size: 0.846875rem;
            line-height: 108.2%;
            letter-spacing: -0.03em;
        }
    }

    nav {
        .nav-desktop {
            display: none;
        }

        .nav-mobile {
            span {
                font-size: 27px;
                cursor: pointer;
                margin-top: 3px;
            }


        }
    }



}

.nav__mobile__in {

    height: 150px;
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    ul {
        width: 100%;

        li {

            padding: 1.5em 0;

            :hover {
                opacity: 0.5;
            }
        }



        li:first-child {
            border-bottom: 3px solid rgb(243 243 243);

        }

        a {

            font-size: 1rem;
            color: white;
        }
    }
}

main {
    .hero-post {
        position: relative;
        margin-bottom: 2.125em;

        img {
            width: 100%;
            min-height: 293px;
            max-height: 488px;
            object-fit: cover;
            background-size: 50px;

        }

        .hero-content {
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 25px;
            color: #2a196d;
            text-shadow: 0px 0px 2px #080809;
            max-height: 181px;
            min-height: 141.73px;

            time {
                margin-bottom: 0.5em;
                font-weight: 400;
                font-size: .75rem;
            }

            h1 {
                font-weight: 700;
                font-size: 2rem;
                line-height: 108.2%;
                letter-spacing: -0.03em;
            }

            p {
                margin-top: .5em;
            }
        }
    }

    .post {
        transition: all 2s;

        .blog {

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-template-areas:
                "img "
                "date"
                "title"
                "par"
            ;
            grid-gap: 0.5625em;
            margin: 0 20px;
            margin-bottom: 2.5625em;

            .blog-image {
                grid-area: img;
                width: 100%;
                object-fit: cover;
                height: 100% !important;
                border-radius: 20px;
                box-shadow: 0px 1px 5px 0px #3e3737;
                transition: ease-in-out .8s;

                &:hover {
                    transform: scale(.8) rotate(360deg);
                    filter: grayscale(100%);
                }

            }

            .blog-time {
                grid-area: date;
                text-transform: uppercase;
                font-size: 0.88584375rem;
                color: #000000;
                font-weight: 400;
            }

            .blog-title {
                grid-area: title;

                font-style: normal;
                font-weight: 700;
                font-size: 1.5rem;
                color: #141414;

                a {
                    color: #2a196d;
                    text-shadow: 0px 0px 2px #080809;
                }
            }

            .blog-par {
                grid-area: par;
                font-weight: 400;
                font-size: 1rem;
                color: #505050;
            }


        }


    }

    .view-more {
        cursor: pointer;
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 1rem;
        text-decoration-line: underline;
        color: #000000;
        margin-bottom: 2.6875em;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 105px;
        background: #202020;

        h5 {
            font-weight: 700;
            font-size: 0.75rem;
            letter-spacing: -0.03em;
            color: #ECECEC;
        }

        span {
            font-weight: 400;
            font-size: .75rem;
            color: #D7D7D7;
        }
    }
}


@media (max-width:400px) {
    main .hero-post .hero-content p {
        font-size: 3.5vw;
    }

    main .hero-post .hero-content h1 {
        font-size: 8vw;
    }


}

@media (min-width:600px) {


    header .logo h1 {

        font-size: 1.25236875rem;
    }

    header nav ul li {
        font-size: 1rem;
    }

    .post {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-content {
        max-width: 614.84px;
        max-height: 141.73px;
        bottom: 59.27px !important;


    }
}


@media (min-width:768px) {
    .nav-mobile {
        display: none;
    }

    .nav__mobile__in {
        display: none;
    }

    .nav-desktop {
        display: flex !important;
        gap: 31px;

        li {
            white-space: nowrap;
            font-weight: 600;
            color: #090909;
            font-size: 1rem;
            text-transform: uppercase;

        }
    }

    .logo {
        margin: 0 33px;
    }

    .post {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 33px;
    }

    .hero-content {
        left: 67px !important;
    }


}